:root {
  --date-width: 3em;
  --date-text-align: right;
  --date-left-offset: -4em;
  --color-white: hsl(240, 30%, 97%);
  --color-black: hsl(0, 0%, 0%);
  --dot-size: 3px;
  --dot-portion: 23%;
  --dot-background-image: radial-gradient(
      var(--color-black) var(--dot-portion),
      transparent var(--dot-portion)
    ),
    radial-gradient(
      var(--color-black) var(--dot-portion),
      transparent var(--dot-portion)
    );
  --dot-background-position: 0 0,
    calc(var(--dot-size) / 2) calc(var(--dot-size) / 2);
  --dot-background-size: var(--dot-size) var(--dot-size);
  --hr-margin: -0.5em 0.5em 3em auto;
}

@media (max-width: 800px) {
  :root {
    --date-width: 7em;
    --date-left-offset: -2em;
    --date-text-align: center;
    --hr-margin: 0 0 5em auto;
  }
}

body {
  font-size: 1.5em;
  font-family: "Source Code Pro Regular", monospace;
  margin: 0;
  background-color: var(--color-white);
}

main {
  max-width: 600px;
  margin: auto;
  padding-left: 2em;
}

.entry {
  position: relative;
}

.date {
  background-image: var(--dot-background-image);
  background-position: var(--dot-background-position);
  background-size: var(--dot-background-size);
  position: absolute;
  transform-origin: top left;
  transform: rotate(270deg);
  top: calc(var(--date-width) + 16px);
  left: var(--date-left-offset);
  line-height: 1em;
  width: var(--date-width);
  text-align: var(--date-text-align);
  color: var(--color-black);
  padding: 6px;
}

hr {
  border: none;
  background-image: var(--dot-background-image);
  background-position: var(--dot-background-position);
  background-size: var(--dot-background-size);
  width: 1em;
  height: 1em;
  margin: var(--hr-margin);
}

::selection {
  background-color: #ffff008a;
}

a {
  color: inherit;
}

a:hover,
a:active {
  color: inherit;
  background-image: var(--dot-background-image);
  background-position: var(--dot-background-position);
  background-size: var(--dot-background-size);
  text-decoration: none;
}
