:root {
  --body-font-size: 1.5em;

  --color-white: hsl(240, 30%, 97%);
  --color-black: black;
  --color-red: hsl(0deg 100% 63%);
  --color-blue: hsl(263deg 100% 79%);
  --color-light-grey: hsl(0deg 0% 0% / 20%);
  --color-highlighter: hsl(60deg 100% 50% / 54%);

  --date-width: 3em;
  --date-text-align: right;
  --date-left-offset: -4em;

  --entry-margin-bottom: 4em;
  --entry-margin-right: 0;

  --dot-size: 3px;
  --dot-portion: 23%;
  --dot-black-radial-gradient: radial-gradient(
    var(--color-black) var(--dot-portion),
    transparent var(--dot-portion)
  );
  --dot-red-radial-gradient: radial-gradient(
    var(--color-red) var(--dot-portion),
    transparent var(--dot-portion)
  );
  --dot-blue-radial-gradient: radial-gradient(
    var(--color-blue) var(--dot-portion),
    transparent var(--dot-portion)
  );
  --dot-light-grey-radial-gradient: radial-gradient(
    var(--color-light-grey) var(--dot-portion),
    transparent var(--dot-portion)
  );
  --dot-black-background-image: var(--dot-black-radial-gradient),
    var(--dot-black-radial-gradient);
  --dot-red-background-image: var(--dot-red-radial-gradient),
    var(--dot-red-radial-gradient);
  --dot-blue-background-image: var(--dot-blue-radial-gradient),
    var(--dot-blue-radial-gradient);
  --dot-light-grey-background-image: var(--dot-light-grey-radial-gradient),
    var(--dot-light-grey-radial-gradient);
  --dot-background-position: 0 0,
    calc(var(--dot-size) / 2) calc(var(--dot-size) / 2);
  --dot-background-size: var(--dot-size) var(--dot-size);
}

@media (max-width: 900px) {
  /* media breakpoint and main max-width are related, css vars can't be used in media */
  :root {
    --body-font-size: 1.2em;
    --date-width: 7em;
    --date-left-offset: -2em;
    --date-text-align: center;
    --entry-margin-bottom: 7em;
    --entry-margin-right: 1.5em;
  }
}

body {
  font-size: var(--body-font-size);
  font-family: "Open Sans Regular", sans-serif;
  margin: 0;
  background-color: var(--color-white);
}

main {
  max-width: 750px;
  /* media breakpoint and main max-width are related */
  margin: 4em auto;
  padding-left: 2em;
}

.entry {
  position: relative;
  margin-bottom: var(--entry-margin-bottom);
  margin-right: var(--entry-margin-right);
  hyphens: auto;
}

.entry-text > p:last-child::after,
.entry-text > :not(p):last-child > *:last-child::after {
  content: " ";
  white-space: pre-wrap;
  display: inline-block;
  width: 1em;
  margin-left: 0.1em;
  background-image: var(--dot-black-background-image);
  background-position: var(--dot-background-position);
  background-size: var(--dot-background-size);
}

.date {
  background-image: var(--dot-black-background-image);
  background-position: var(--dot-background-position);
  background-size: var(--dot-background-size);
  position: absolute;
  display: block;
  transform-origin: top left;
  transform: rotate(270deg);
  top: calc(var(--date-width) + 16px);
  left: var(--date-left-offset);
  line-height: 1em;
  width: var(--date-width);
  text-align: var(--date-text-align);
  color: var(--color-black);
  padding: 6px;
  text-decoration: none;
}

.date:hover,
.date:active {
  color: inherit;
  background-image: var(--dot-blue-background-image);
}

a {
  color: inherit;
}

a:hover,
a:active {
  color: inherit;
  background-image: var(--dot-red-background-image);
  background-position: var(--dot-background-position);
  background-size: var(--dot-background-size);
  text-decoration: none;
}

blockquote {
  margin: 0;
  padding-left: 1em;
  background-image: var(--dot-light-grey-background-image);
  background-position: var(--dot-background-position);
  background-size: var(--dot-background-size);
}

blockquote > * {
  background: var(--color-white);
  padding-left: 0.4em;
}

::selection {
  background-color: var(--color-highlighter);
}
