@font-face {
  font-family: "Source Code Pro Light";
  src: url("/SourceCodePro-Light.ttf");
}

body {
  font-size: 1.5em;
  font-family: "Source Code Pro Light", monospace;
  margin: 0;
  background-color: hsl(240, 30%, 97%);
}

main {
  max-width: 600px;
  margin: auto;
}

.entry {
  margin: 3em 0;
}

.date {
  font-style: italic;
  text-align: right;
}

hr {
  border: none;
  text-align: center;
}
hr::after {
  content: "░";
}

::selection {
  background-color: yellow;
}

a {
  color: inherit;
}
